# Maven
target/

# Java
*.class
*.jar

# Include extras folder
!extras/
!extras/**

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws

# OS junk
.DS_Store
Thumbs.db

# Logs
logs/
*.log